streamlit
langchain==0.1.15
langchain-fireworks
langchain-together
pypdf
transformers==4.39.3
sentence-transformers
accelerate
faiss-cpu
einops
ray==2.10.0
unstructured
htbuilder
pyrebase4        # ✅ Fixed version for Firebase
pycryptodome
firebase-admin
openai           # ✅ For Whisper or GPT
requests         # ✅ For API requests
sounddevice
numpy
wave
python-dotenv
deep-translator
langdetect
soundfile
torch
